@model Bank.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>Användare</div>
@using (Html.BeginForm())
{
    @Html.DropDownList("0", Model.Users, "Select user");
    <input type='submit' value='Select' />
}
