@model Bank.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>Användare</div>
@using (Html.BeginForm())
{
    @Html.DropDownList("UserName", Model.Users);
    <input type='submit' value='Select' />
}
