@model IEnumerable<Bank.Database.Account>

@{
    ViewBag.Title = "ListBalances";
}

<h2>ListBalances</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)


        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
    </tr>
}

</table>
